#lpp-query-panel {
    padding: 0;
}

#lpp-status-bar p {
    margin: 0;
}

#lpp-status-bar svg {
    display: none !important;
}

#lpp-chbox-group span {
    margin-bottom: 0;
}

#lpp-autofill-filter-chbox {
    margin-top: 1.8em;
}
